In [2]:
import pandas as pd
import re
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [59]:
coffee_df = pd.read_csv("coffee_ratings.csv")
coffee_df.head()

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,...,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [61]:
# drop unnecessary columns for analysis
coffee_df = coffee_df.drop(['owner', 'owner_1', 'lot_number', 'farm_name', 'mill', 'ico_number', 'in_country_partner', 'in_country_partner', 'certification_body', 'certification_address',
                            'certification_contact', ], axis=1)

In [62]:
coffee_df.head()

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,moisture,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,2014,...,0.12,0,0.0,Green,0,"April 3rd, 2016",m,1950.0,2200.0,2075.0
1,89.92,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,2014,...,0.12,0,0.0,Green,1,"April 3rd, 2016",m,1950.0,2200.0,2075.0
2,89.75,Arabica,Guatemala,NaN,1600 - 1800 m,NaN,NaN,5,1,NaN,...,0.00,0,0.0,NaN,0,"May 31st, 2011",m,1600.0,1800.0,1700.0
3,89.00,Arabica,Ethiopia,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,2014,...,0.11,0,0.0,Green,2,"March 25th, 2016",m,1800.0,2200.0,2000.0
4,88.83,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,2014,...,0.12,0,0.0,Green,2,"April 3rd, 2016",m,1950.0,2200.0,2075.0

In [14]:
display(coffee_df.describe())
display(coffee_df.describe(include=['O']))

,total_cup_points,number_of_bags,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,category_two_defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,82.089851,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,3.500575,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,81.080000,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,82.500000,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,83.670000,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,90.580000,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

,species,country_of_origin,company,altitude,region,producer,bag_weight,harvest_year,grading_date,variety,processing_method,color,expiration,unit_of_measurement
count,1339,1338,1130,1113,1280,1107,1339,1292,1339,1113,1169,1069,1339,1339
unique,2,36,281,396,356,690,56,46,567,29,5,3,566,2
top,Arabica,Mexico,"unex guatemala, s.a.",1100,huila,La Plata,1 kg,2012,"July 11th, 2012",Caturra,Washed / Wet,Green,"July 11th, 2013",m
freq,1311,236,86,43,112,30,331,354,25,256,815,870,25,1157

Variables that need cleaning:
* harvest_year - different date formats 
* altitude - different unit of measurements
* bag_weight - different kinds of measurements.

In [64]:
coffee_cleaning_date = coffee_df.copy()
coffee_cleaning_date['harvest_year'].unique()

array(['2014', nan, '2013', '2012', 'March 2010',
       'Sept 2009 - April 2010', 'May-August', '2009/2010', '2015',
       '2011', '2016', '2015/2016', '2010', 'Fall 2009', '2017',
       '2009 / 2010', '2010-2011', '2009-2010', '2009 - 2010',
       '2013/2014', '2017 / 2018', 'mmm', 'TEST',
       'December 2009-March 2010', '2014/2015', '2011/2012',
       'January 2011', '4T/10', '2016 / 2017', '23 July 2010',
       'January Through April', '1T/2011', '4t/2010', '4T/2010',
       'August to December', 'Mayo a Julio', '47/2010', 'Abril - Julio',
       '4t/2011', 'Abril - Julio /2011', 'Spring 2011 in Colombia.',
       '3T/2011', '2016/2017', '1t/2011', '2018', '4T72010', '08/09 crop'],
      dtype=object)

In [67]:
# define regex pattern for year
year_pattern = r"^\d{4}$"
date_anomales = coffee_cleaning_date[~coffee_cleaning_date['harvest_year'].astype(str).str.match(year_pattern)]
date_anomales.head()

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,moisture,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
2,89.75,Arabica,Guatemala,NaN,1600 - 1800 m,NaN,NaN,5,1,NaN,...,0.00,0,0.0,NaN,0,"May 31st, 2011",m,1600.0,1800.0,1700.0
7,88.67,Arabica,Ethiopia,NaN,1570-1700,oromia,Bazen Agricultural & Industrial Dev't Plc,300,60 kg,March 2010,...,0.03,0,0.0,NaN,0,"September 2nd, 2011",m,1570.0,1700.0,1635.0
8,88.42,Arabica,Ethiopia,NaN,1570-1700,oromiya,Bazen Agricultural & Industrial Dev't Plc,300,60 kg,March 2010,...,0.03,0,0.0,NaN,0,"September 2nd, 2011",m,1570.0,1700.0,1635.0
13,87.92,Arabica,United States (Hawaii),NaN,2000 ft,kona,"Robert, Sharon, Arianna Wood",1,1,Sept 2009 - April 2010,...,0.00,0,0.0,NaN,2,"May 31st, 2011",ft,609.6,609.6,609.6
14,87.83,Arabica,Ethiopia,NaN,1570-1700,oromiya,Bazen Agricultural & Industrial Dev't Plc,300,60 kg,March 2010,...,0.05,0,0.0,NaN,2,"August 31st, 2011",m,1570.0,1700.0,1635.0

In [69]:
def extract_year(month):
    match = re.search(r'\b(\d{4})\b', month)
    return match.group(1) if match else month

date_anomales['harvest_year'] = date_anomales['harvest_year'].astype(str).apply(extract_year)
year_pattern = r"\d{4}$"
date_anomales = date_anomales[date_anomales['harvest_year'].astype(str).str.match(year_pattern)]
date_anomales.head()

/var/folders/yd/k27kwk2j2xl3fr1_w8xlnk2h0000gn/T/ipykernel_99754/162938640.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_anomales['harvest_year'] = date_anomales['harvest_year'].astype(str).apply(extract_year)

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,moisture,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
7,88.67,Arabica,Ethiopia,NaN,1570-1700,oromia,Bazen Agricultural & Industrial Dev't Plc,300,60 kg,2010,...,0.03,0,0.0,NaN,0,"September 2nd, 2011",m,1570.0,1700.0,1635.0
8,88.42,Arabica,Ethiopia,NaN,1570-1700,oromiya,Bazen Agricultural & Industrial Dev't Plc,300,60 kg,2010,...,0.03,0,0.0,NaN,0,"September 2nd, 2011",m,1570.0,1700.0,1635.0
13,87.92,Arabica,United States (Hawaii),NaN,2000 ft,kona,"Robert, Sharon, Arianna Wood",1,1,2009,...,0.00,0,0.0,NaN,2,"May 31st, 2011",ft,609.6,609.6,609.6
14,87.83,Arabica,Ethiopia,NaN,1570-1700,oromiya,Bazen Agricultural & Industrial Dev't Plc,300,60 kg,2010,...,0.05,0,0.0,NaN,2,"August 31st, 2011",m,1570.0,1700.0,1635.0
17,87.33,Arabica,Ethiopia,NaN,NaN,yirgacheffe,Green Gold Ethiopia | Phone: 0114342032,150,6,2009,...,0.05,0,0.0,NaN,2,"June 16th, 2011",m,NaN,NaN,NaN

In [70]:
date_anomales['harvest_year'].unique()

array(['2010', '2009', '2015', '2013', '2017', '2014', '2011', '2016'],
      dtype=object)

In [78]:
coffee_cleaning_date.update(date_anomales)

In [79]:
coffee_cleaning_date

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,moisture,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,2014,...,0.12,0,0.0,Green,0,"April 3rd, 2016",m,1950.0,2200.0,2075.0
1,89.92,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,2014,...,0.12,0,0.0,Green,1,"April 3rd, 2016",m,1950.0,2200.0,2075.0
2,89.75,Arabica,Guatemala,NaN,1600 - 1800 m,NaN,NaN,5,1,NaN,...,0.00,0,0.0,NaN,0,"May 31st, 2011",m,1600.0,1800.0,1700.0
3,89.00,Arabica,Ethiopia,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,2014,...,0.11,0,0.0,Green,2,"March 25th, 2016",m,1800.0,2200.0,2000.0
4,88.83,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,2014,...,0.12,0,0.0,Green,2,"April 3rd, 2016",m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,Ecuador,robustasa,NaN,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2 kg,2016,...,0.00,0,0.0,Blue-Green,1,"January 18th, 2017",m,NaN,NaN,NaN
1335,78.08,Robusta,Ecuador,robustasa,40,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2 kg,2016,...,0.00,0,0.0,Blue-Green,0,"January 18th, 2017",m,40.0,40.0,40.0
1336,77.17,Robusta,United States,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1 kg,2014,...,0.00,0,0.0,NaN,6,"December 23rd, 2015",m,795.0,795.0,795.0
1337,75.08,Robusta,India,cafe politico,NaN,NaN,NaN,1,5 lbs,2013,...,0.10,20,0.0,Green,1,"August 25th, 2015",m,NaN,NaN,NaN
1338,73.75,Robusta,Vietnam,cafe politico,NaN,NaN,NaN,1,5 lbs,2013,...,0.12,63,0.0,NaN,9,"August 25th, 2015",m,NaN,NaN,NaN

In [81]:
year_pattern = r"\d{4}$"
coffee_cleaning_date = coffee_cleaning_date[coffee_cleaning_date['harvest_year'].astype(str).str.match(year_pattern)]
coffee_cleaning_date['harvest_year'].unique()

array(['2014', '2013', '2012', '2010', '2009', '2015', '2011', '2016',
       '2017', '2018'], dtype=object)

In [127]:
coffee_cleaning_weight = coffee_cleaning_date.copy()
coffee_cleaning_weight['bag_weight'].unique()

array(['60 kg', '30 kg', '69 kg', '1 kg', '1', '6', '3 lbs', '50 kg',
       '2 lbs', '100 lbs', '15 kg', '2 kg', '2', '70 kg', '19200 kg',
       '5 lbs', '1 kg,lbs', '6 kg', '46 kg', '40 kg', '20 kg', '34 kg',
       '1 lbs', '660 kg', '18975 kg', '12000 kg', '35 kg', '66 kg',
       '80 kg', '5 kg', '25 kg', '59 kg', '18000 kg', '150 lbs',
       '9000 kg', '18 kg', '10 kg', '29 kg', '1218 kg', '4 lbs', '0 kg',
       '13800 kg', '1500 kg', '24 kg', '80 lbs', '8 kg', '3 kg', '350 kg',
       '67 kg', '4 kg', '55 lbs', '100 kg', '130 lbs'], dtype=object)

In [128]:
# double check if it just containts 'kg' and 'lbs'
measurement_type = coffee_cleaning_weight['bag_weight'].apply(lambda s: pd.Series({'measurement_type': s.split(' ')[-1]}))
coffee_cleaning_weight = pd.concat([coffee_cleaning_weight, measurement_type], axis = 1)
measurement_type['measurement_type'].unique()

array(['kg', '1', '6', 'lbs', '2', 'kg,lbs'], dtype=object)

In [130]:
# Replace 'kg', 'lbs', and 'kg,lbs' with an empty string
coffee_cleaning_weight['bag_weight'] = coffee_cleaning_weight['bag_weight'].str.replace('kg', '').str.replace('lbs', '').str.replace('kg,lbs', '')

# Strip any leading/trailing whitespace or extra characters
coffee_cleaning_weight['bag_weight'] = coffee_cleaning_weight['bag_weight'].str.strip(' ,')

# Convert to numeric, setting errors='coerce' to handle any non-numeric cases by converting them to NaN
coffee_cleaning_weight['bag_weight'] = pd.to_numeric(coffee_cleaning_weight['bag_weight'], errors='coerce')

coffee_cleaning_weight

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,measurement_type
0,90.58,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,0,0.0,Green,0,"April 3rd, 2016",m,1950.0,2200.0,2075.0,kg
1,89.92,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,0,0.0,Green,1,"April 3rd, 2016",m,1950.0,2200.0,2075.0,kg
3,89.00,Arabica,Ethiopia,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60,2014,...,0,0.0,Green,2,"March 25th, 2016",m,1800.0,2200.0,2000.0,kg
4,88.83,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,0,0.0,Green,2,"April 3rd, 2016",m,1950.0,2200.0,2075.0,kg
5,88.83,Arabica,Brazil,NaN,NaN,NaN,NaN,100,30,2013,...,0,0.0,Bluish-Green,1,"September 3rd, 2014",m,NaN,NaN,NaN,kg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,Ecuador,robustasa,NaN,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2,2016,...,0,0.0,Blue-Green,1,"January 18th, 2017",m,NaN,NaN,NaN,kg
1335,78.08,Robusta,Ecuador,robustasa,40,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2,2016,...,0,0.0,Blue-Green,0,"January 18th, 2017",m,40.0,40.0,40.0,kg
1336,77.17,Robusta,United States,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1,2014,...,0,0.0,NaN,6,"December 23rd, 2015",m,795.0,795.0,795.0,kg
1337,75.08,Robusta,India,cafe politico,NaN,NaN,NaN,1,5,2013,...,20,0.0,Green,1,"August 25th, 2015",m,NaN,NaN,NaN,lbs
1338,73.75,Robusta,Vietnam,cafe politico,NaN,NaN,NaN,1,5,2013,...,63,0.0,NaN,9,"August 25th, 2015",m,NaN,NaN,NaN,lbs

In [131]:
def kg_conversion(row):
    if row['measurement_type'] == 'lbs':
        return row['bag_weight'] * 0.453592
    return row['bag_weight']
coffee_cleaning_weight['bag_weight'] = coffee_cleaning_weight.apply(kg_conversion, axis=1)
coffee_cleaning_weight['bag_weight'] = coffee_cleaning_weight['bag_weight'].round()
coffee_cleaning_weight['bag_weight'] = coffee_cleaning_weight['bag_weight'].astype('int')
coffee_cleaning_weight

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,measurement_type
0,90.58,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,0,0.0,Green,0,"April 3rd, 2016",m,1950.0,2200.0,2075.0,kg
1,89.92,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,0,0.0,Green,1,"April 3rd, 2016",m,1950.0,2200.0,2075.0,kg
3,89.00,Arabica,Ethiopia,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60,2014,...,0,0.0,Green,2,"March 25th, 2016",m,1800.0,2200.0,2000.0,kg
4,88.83,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,0,0.0,Green,2,"April 3rd, 2016",m,1950.0,2200.0,2075.0,kg
5,88.83,Arabica,Brazil,NaN,NaN,NaN,NaN,100,30,2013,...,0,0.0,Bluish-Green,1,"September 3rd, 2014",m,NaN,NaN,NaN,kg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,Ecuador,robustasa,NaN,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2,2016,...,0,0.0,Blue-Green,1,"January 18th, 2017",m,NaN,NaN,NaN,kg
1335,78.08,Robusta,Ecuador,robustasa,40,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2,2016,...,0,0.0,Blue-Green,0,"January 18th, 2017",m,40.0,40.0,40.0,kg
1336,77.17,Robusta,United States,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1,2014,...,0,0.0,NaN,6,"December 23rd, 2015",m,795.0,795.0,795.0,kg
1337,75.08,Robusta,India,cafe politico,NaN,NaN,NaN,1,2,2013,...,20,0.0,Green,1,"August 25th, 2015",m,NaN,NaN,NaN,lbs
1338,73.75,Robusta,Vietnam,cafe politico,NaN,NaN,NaN,1,2,2013,...,63,0.0,NaN,9,"August 25th, 2015",m,NaN,NaN,NaN,lbs

In [133]:
coffee_cleaning_weight[coffee_cleaning_weight['measurement_type'] == '1']

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,category_one_defects,quakers,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,measurement_type
13,87.92,Arabica,United States (Hawaii),NaN,2000 ft,kona,"Robert, Sharon, Arianna Wood",1,1,2009,...,0,0.0,NaN,2,"May 31st, 2011",ft,609.60,609.60,609.60,1
190,84.33,Arabica,Guatemala,NaN,4400-4700 ft,nuevo oriente,Miguel Hernandez,250,1,2009,...,1,0.0,NaN,1,"April 30th, 2011",ft,1341.12,1432.56,1386.84,1

In [138]:
coffee_cleaning_weight['bag_weight'].unique()
coffee_cleaning_weight = coffee_cleaning_weight.drop(['measurement_type'], axis=1)

In [140]:
coffee_cleaning_altitude = coffee_cleaning_weight.copy()
coffee_cleaning_altitude['altitude'].unique()

array(['1950-2200', '1800-2200', nan, '1570-1700', '1795-1850',
       '1855-1955', 'meters above sea level: 1.872',
       'meters above sea level: 1.943', '2000 ft',
       'meters above sea level: 2.080', '1450', '1700-2000m',
       'meters above sea level: 2.019', '1300 msnm', '1320',
       'meters above sea level: 2.112', '1250m', '1950', '1400', '1200',
       '1300', '1750-1800', '1800', 'meters above sea level: 1.941',
       '1.2', '1000 m', '1754', '900-1500m', '1520m-2200m', '1400-1900m',
       '1500-2000 m', '1400ft', '1400-1900', '1800 msnm', '1600',
       '1800-2000', '5000', '4650', '1700 mts', '1500 meters',
       '1300~1400 m.s.l', '1680', '1900m', '5600-5760 metros', '1400 m',
       '1700', '1770', 'above 1600 m', 'above 1200 m', '1550 msnm',
       '1550', '1250-1400 meter', '1400 msm', '2.560 msnm', '2136 msnm',
       '1900', '-1', '1580', '1100m', '1400 masl', '3500-5200 feet',
       'de 1600 a 1950 msnm', '800 m', '1620m', '1200m', '350',
       '1450 msnm', '1200 mts', '800-1050m', '1350', '1150', '1750',
       '1750m', '2000', '4300', '1700-1850m', '1500', '5000 ft.',
       '4000 psn', '1600 a 1900 msnm', '1750 msnm', '1450 ~ 1700 m',
       '1300m', 'above 1100m', '2000 m', '900', '442 msnm',
       '1200m to 1350m', '900-1200m', '4400-4700 ft', '1000', '2560',
       '3607', '4000 psnm', '1170', '1700m', '3664', '1565', '3280',
       'de 900 a 1100 msnm', '1850', '1545-1668 masl', '1530',
       "approx. 1'500 metres a.s.l.", '894m - 1183m', '1500-1700m', '442',
       '968', '1480', '1800m', '5440 - 5760 metros', '1550 m', '1260',
       '1700 msnm', '1650', '890', '934', '950å…¬å°º', '2527', '1',
       '480-570m', '1650-1703', '1200-1400', '800 meters above sea level',
       '1218', '1.250 m', '4921ft', '750', '2800 ft', '1500-1600', '700',
       '1300 mts', '1600 m.s.n.m', '1250', '800++', '1550-1700m',
       '4451 metros', '1800 - 2000', '1100', '1200-1600masl', '3702',
       'de 1.600 a 1.950 msnm', '1799', '4000', '1400m',
       '1600 on average', '1850 msnm', '1400 mts', '940', '4600 ft.',
       '439', '1330', '1813', '1500 msnm', '1227', '1650 msnm',
       '1100-1300', '4200 feet', '1000 msnm', '1880', '2100', '1261',
       '800å…¬å°º', '1483', '175', '1600-1800msnm', '1880 msnm',
       '1800 m.s.n.m', '1901', '16.8', '1500msnm', '1400-1900 psn',
       "approx.1'500 metres a.s.l.", '1653', '1450 msnn', '5000 pies',
       '532', '1089', '1380', '1000m', '950m', '900m', '905', '700-800m',
       '1300 m', '1300-1400m', '894', '872', '1473', '1645',
       '1300 a 1800 metros sobre el nivel del mar', '4500 pies',
       '900-1100', '1600 - 1950 msnm', '1500-1750 msnm', '4500', '775',
       '1200 masl', '1600 + meters above sea level', '1059',
       '1300 meters', '11000 metros', '5440-5760 metros', '1248', '1040m',
       '1050 - 1850 msnm', '1040', '4000psn', '1200-2000m', '1200 m',
       '1800 mts', '1400 meter above sea level', '518', '650', '1442 m',
       '1.65', '1400 thru 1850', '1200å…¬å°º', '1296', '1400- 1900', '1240 m',
       '950', '1800 meters (5900', '1050', '200 m', '1200-1300m dpl',
       '1400-1500 m', '1317', '900-1050m', '1679', '2285', 'huanuco',
       '1560', '1750 m.s.n.m', '1396', '982', '1268', '5500 metros',
       '1450 m', '600 m', '5500-6000 psnm', '441', '1200 a 1400', '1180m',
       '650 m', '1338', '533', '4563', '1500-1800', '1200-1600m', '1144',
       '1200-1400 masl', '1500 - 1700', '1.3', '1600 msnm', '944',
       '1300- 1400', '2500m', '600m', '1400 m.s.n.m.', '600-700 m',
       '1050m', '1020', '1300 a 1800 mtrs. a nivel del mar', '1877',
       '1000-1500m', '981', '690', '973', '4001', '1350-1500',
       '1400 msnm', '700m', '1556m', '1550 meters',
       'de 1.600 a 1950 msnm', '900-950m', '1600-1800 msnm', '774',
       '1200-1800m', '150 m', '750 m', '190164', '800', '850 m',
       '160-200m', '4000 ft', '1200 msm', '1599m', '900 m', '400-1250m',
       '1.25', '110å…¬å°º', '1422', '1550 mts.', '1550 meter', '763', '1130',
       '680', '1400 msn', '5000 f', '100/2000', '1450 mals', '990-1000m',
       '0', '695', '1100 m.o.s.l.', '5600 feet', '1456', '1500 mts',
       '1642', '758m', '1350 snn', '1525 m', '1100 m', '200', '3500 ft',
       '550å…¬å°º', 'between 700 and 1400 meters', '688 m', '300 m', '1186',
       '1210', '100', '3825', '1100.00 mosl', '1450 masl', '1680m',
       '~1000 meters', '1200-1500', '1.85', '4540 metros', '50', '280',
       '1250 m', '3800', '4000 p.s.n.m.', '6100 metros', '600å…¬å°º', '1450m',
       '995', '3000 ft', '4287', '900 m.s.n.m.', '700 m', '808',
       '1100 - 1275 mts', '850å…¬å°º', '250 m', '3845', '1300 to 1500 meters',
       '1901.64', '800-1200', '500-700m', '1022', '975', '1264',
       '3500 - 5200 feet', '700må…¬å°º', '850', '12oo', '800m', '1600 meters',
       '4000 p.s.n.m', '1200 meters', '750-800 m', '900-1500 masl',
       '3500', '1000+ meters', '1280', '1140', '640m-1400m',
       '1000 meters', '~350m', '1488', '3170', '1212', '1200-1300',
       "3000'", '750m', '3140', '900-1300', '1095', '1367', '1745', '40',
       '795 meters'], dtype=object)

In [142]:
coffee_cleaning_altitude['altitude'] = coffee_cleaning_altitude['altitude'].astype('str')
altitude_type = coffee_cleaning_altitude['altitude'].apply(lambda s: pd.Series({'altitude_type': s.split(' ')[-1]}))
coffee_cleaning_altitude = pd.concat([coffee_cleaning_altitude, altitude_type], axis = 1)
coffee_cleaning_altitude['altitude_type'].unique()

array(['1950-2200', '1800-2200', 'nan', '1570-1700', '1795-1850',
       '1855-1955', '1.872', '1.943', 'ft', '2.080', '1450', '1700-2000m',
       '2.019', 'msnm', '1320', '2.112', '1250m', '1950', '1400', '1200',
       '1300', '1750-1800', '1800', '1.941', '1.2', 'm', '1754',
       '900-1500m', '1520m-2200m', '1400-1900m', '1400ft', '1400-1900',
       '1600', '1800-2000', '5000', '4650', 'mts', 'meters', 'm.s.l',
       '1680', '1900m', 'metros', '1700', '1770', '1550', 'meter', 'msm',
       '1900', '-1', '1580', '1100m', 'masl', 'feet', '1620m', '1200m',
       '350', '800-1050m', '1350', '1150', '1750', '1750m', '2000',
       '4300', '1700-1850m', '1500', 'ft.', 'psn', '1300m', '900',
       '1350m', '900-1200m', '1000', '2560', '3607', 'psnm', '1170',
       '1700m', '3664', '1565', '3280', '1850', '1530', 'a.s.l.', '1183m',
       '1500-1700m', '442', '968', '1480', '1800m', '1260', '1650', '890',
       '934', '950å…¬å°º', '2527', '1', '480-570m', '1650-1703', '1200-1400',
       'level', '1218', '4921ft', '750', '1500-1600', '700', 'm.s.n.m',
       '1250', '800++', '1550-1700m', '1100', '1200-1600masl', '3702',
       '1799', '4000', '1400m', 'average', '940', '439', '1330', '1813',
       '1227', '1100-1300', '1880', '2100', '1261', '800å…¬å°º', '1483',
       '175', '1600-1800msnm', '1901', '16.8', '1500msnm', '1653', 'msnn',
       'pies', '532', '1089', '1380', '1000m', '950m', '900m', '905',
       '700-800m', '1300-1400m', '894', '872', '1473', '1645', 'mar',
       '900-1100', '4500', '775', '1059', '1248', '1040m', '1040',
       '4000psn', '1200-2000m', '518', '650', '1.65', '1200å…¬å°º', '1296',
       '950', '(5900', '1050', 'dpl', '1317', '900-1050m', '1679', '2285',
       'huanuco', '1560', '1396', '982', '1268', '441', '1180m', '1338',
       '533', '4563', '1500-1800', '1200-1600m', '1144', '1.3', '944',
       '2500m', '600m', 'm.s.n.m.', '1050m', '1020', '1877', '1000-1500m',
       '981', '690', '973', '4001', '1350-1500', '700m', '1556m',
       '900-950m', '774', '1200-1800m', '190164', '800', '160-200m',
       '1599m', '400-1250m', '1.25', '110å…¬å°º', '1422', 'mts.', '763',
       '1130', '680', 'msn', 'f', '100/2000', 'mals', '990-1000m', '0',
       '695', 'm.o.s.l.', '1456', '1642', '758m', 'snn', '200', '550å…¬å°º',
       '1186', '1210', '100', '3825', 'mosl', '1680m', '1200-1500',
       '1.85', '50', '280', '3800', 'p.s.n.m.', '600å…¬å°º', '1450m', '995',
       '4287', '808', '850å…¬å°º', '3845', '1901.64', '800-1200', '500-700m',
       '1022', '975', '1264', '700må…¬å°º', '850', '12oo', '800m', 'p.s.n.m',
       '3500', '1280', '1140', '640m-1400m', '~350m', '1488', '3170',
       '1212', '1200-1300', "3000'", '750m', '3140', '900-1300', '1095',
       '1367', '1745', '40'], dtype=object)

In [153]:
import re

def parse_altitude(altitude_str):
    if pd.isna(altitude_str) or altitude_str.strip() == '':
        return None

    # Check if the altitude is specifically marked as '-1' which we treat as missing data
    if altitude_str.strip() == '-1':
        return None

    # Remove common thousands separators and other non-relevant characters
    cleaned_str = re.sub(r"[^\d.-]", "", altitude_str)

    # Extract numbers from the string
    numbers = [float(num) for num in re.findall(r'\d+\.?\d*', cleaned_str)]
    
    # Return the average if it's a range, otherwise return the number
    if len(numbers) > 1:
        return sum(numbers) / len(numbers)
    elif len(numbers) == 1:
        return numbers[0]
    else:
        return None

# Apply the function to the 'altitude' column
coffee_cleaning_altitude['altitude_new'] = coffee_cleaning_altitude['altitude'].apply(parse_altitude).round()
coffee_cleaning_altitude

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,altitude_type,altitude_m,altitude_new
0,90.58,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,Green,0,"April 3rd, 2016",m,1950.0,2200.0,2075.0,1950-2200,2075.0,2075.0
1,89.92,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,Green,1,"April 3rd, 2016",m,1950.0,2200.0,2075.0,1950-2200,2075.0,2075.0
3,89.00,Arabica,Ethiopia,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60,2014,...,Green,2,"March 25th, 2016",m,1800.0,2200.0,2000.0,1800-2200,2000.0,2000.0
4,88.83,Arabica,Ethiopia,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60,2014,...,Green,2,"April 3rd, 2016",m,1950.0,2200.0,2075.0,1950-2200,2075.0,2075.0
5,88.83,Arabica,Brazil,NaN,nan,NaN,NaN,100,30,2013,...,Bluish-Green,1,"September 3rd, 2014",m,NaN,NaN,NaN,nan,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,Ecuador,robustasa,nan,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2,2016,...,Blue-Green,1,"January 18th, 2017",m,NaN,NaN,NaN,nan,NaN,NaN
1335,78.08,Robusta,Ecuador,robustasa,40,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,1,2,2016,...,Blue-Green,0,"January 18th, 2017",m,40.0,40.0,40.0,40,40.0,40.0
1336,77.17,Robusta,United States,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1,2014,...,NaN,6,"December 23rd, 2015",m,795.0,795.0,795.0,meters,795.0,795.0
1337,75.08,Robusta,India,cafe politico,nan,NaN,NaN,1,2,2013,...,Green,1,"August 25th, 2015",m,NaN,NaN,NaN,nan,NaN,NaN
1338,73.75,Robusta,Vietnam,cafe politico,nan,NaN,NaN,1,2,2013,...,NaN,9,"August 25th, 2015",m,NaN,NaN,NaN,nan,NaN,NaN

In [149]:
coffee_cleaning_altitude[coffee_cleaning_altitude['altitude'] == 'meters above sea level: 1.943']

,total_cup_points,species,country_of_origin,company,altitude,region,producer,number_of_bags,bag_weight,harvest_year,...,color,category_two_defects,expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,altitude_type,altitude_m,altitude_new
12,87.92,Arabica,United States,coffee quality institute,meters above sea level: 1.943,antioquia,Jorge Walter Restrepo,10,1,2014,...,NaN,0,"March 12th, 2016",m,1943.0,1943.0,1943.0,1.943,1.943,1.943

In [148]:
coffee_cleaning_altitude['altitude'].unique()

array(['1950-2200', '1800-2200', 'nan', '1570-1700', '1795-1850',
       '1855-1955', 'meters above sea level: 1.872',
       'meters above sea level: 1.943', '2000 ft',
       'meters above sea level: 2.080', '1450', '1700-2000m',
       'meters above sea level: 2.019', '1300 msnm', '1320',
       'meters above sea level: 2.112', '1250m', '1950', '1400', '1200',
       '1300', '1750-1800', '1800', 'meters above sea level: 1.941',
       '1.2', '1000 m', '1754', '900-1500m', '1520m-2200m', '1400-1900m',
       '1500-2000 m', '1400ft', '1400-1900', '1800 msnm', '1600',
       '1800-2000', '5000', '4650', '1700 mts', '1500 meters',
       '1300~1400 m.s.l', '1680', '1900m', '5600-5760 metros', '1400 m',
       '1700', '1770', 'above 1600 m', 'above 1200 m', '1550 msnm',
       '1550', '1250-1400 meter', '1400 msm', '2.560 msnm', '2136 msnm',
       '1900', '-1', '1580', '1100m', '1400 masl', '3500-5200 feet',
       'de 1600 a 1950 msnm', '800 m', '1620m', '1200m', '350',
       '1450 msnm', '1200 mts', '800-1050m', '1350', '1150', '1750',
       '1750m', '2000', '4300', '1700-1850m', '1500', '5000 ft.',
       '4000 psn', '1600 a 1900 msnm', '1750 msnm', '1450 ~ 1700 m',
       '1300m', 'above 1100m', '2000 m', '900', '442 msnm',
       '1200m to 1350m', '900-1200m', '4400-4700 ft', '1000', '2560',
       '3607', '4000 psnm', '1170', '1700m', '3664', '1565', '3280',
       'de 900 a 1100 msnm', '1850', '1545-1668 masl', '1530',
       "approx. 1'500 metres a.s.l.", '894m - 1183m', '1500-1700m', '442',
       '968', '1480', '1800m', '5440 - 5760 metros', '1550 m', '1260',
       '1700 msnm', '1650', '890', '934', '950å…¬å°º', '2527', '1',
       '480-570m', '1650-1703', '1200-1400', '800 meters above sea level',
       '1218', '1.250 m', '4921ft', '750', '2800 ft', '1500-1600', '700',
       '1300 mts', '1600 m.s.n.m', '1250', '800++', '1550-1700m',
       '4451 metros', '1800 - 2000', '1100', '1200-1600masl', '3702',
       'de 1.600 a 1.950 msnm', '1799', '4000', '1400m',
       '1600 on average', '1850 msnm', '1400 mts', '940', '4600 ft.',
       '439', '1330', '1813', '1500 msnm', '1227', '1650 msnm',
       '1100-1300', '4200 feet', '1000 msnm', '1880', '2100', '1261',
       '800å…¬å°º', '1483', '175', '1600-1800msnm', '1880 msnm',
       '1800 m.s.n.m', '1901', '16.8', '1500msnm', '1400-1900 psn',
       "approx.1'500 metres a.s.l.", '1653', '1450 msnn', '5000 pies',
       '532', '1089', '1380', '1000m', '950m', '900m', '905', '700-800m',
       '1300 m', '1300-1400m', '894', '872', '1473', '1645',
       '1300 a 1800 metros sobre el nivel del mar', '4500 pies',
       '900-1100', '1600 - 1950 msnm', '1500-1750 msnm', '4500', '775',
       '1200 masl', '1600 + meters above sea level', '1059',
       '1300 meters', '11000 metros', '5440-5760 metros', '1248', '1040m',
       '1050 - 1850 msnm', '1040', '4000psn', '1200-2000m', '1200 m',
       '1800 mts', '1400 meter above sea level', '518', '650', '1442 m',
       '1.65', '1400 thru 1850', '1200å…¬å°º', '1296', '1400- 1900', '1240 m',
       '950', '1800 meters (5900', '1050', '200 m', '1200-1300m dpl',
       '1400-1500 m', '1317', '900-1050m', '1679', '2285', 'huanuco',
       '1560', '1750 m.s.n.m', '1396', '982', '1268', '5500 metros',
       '1450 m', '600 m', '5500-6000 psnm', '441', '1200 a 1400', '1180m',
       '650 m', '1338', '533', '4563', '1500-1800', '1200-1600m', '1144',
       '1200-1400 masl', '1500 - 1700', '1.3', '1600 msnm', '944',
       '1300- 1400', '2500m', '600m', '1400 m.s.n.m.', '600-700 m',
       '1050m', '1020', '1300 a 1800 mtrs. a nivel del mar', '1877',
       '1000-1500m', '981', '690', '973', '4001', '1350-1500',
       '1400 msnm', '700m', '1556m', '1550 meters',
       'de 1.600 a 1950 msnm', '900-950m', '1600-1800 msnm', '774',
       '1200-1800m', '150 m', '750 m', '190164', '800', '850 m',
       '160-200m', '4000 ft', '1200 msm', '1599m', '900 m', '400-1250m',
       '1.25', '110å…¬å°º', '1422', '1550 mts.', '1550 meter', '763', '1130',
       '680', '1400 msn', '5000 f', '100/2000', '1450 mals', '990-1000m',
       '0', '695', '1100 m.o.s.l.', '5600 feet', '1456', '1500 mts',
       '1642', '758m', '1350 snn', '1525 m', '1100 m', '200', '3500 ft',
       '550å…¬å°º', 'between 700 and 1400 meters', '688 m', '300 m', '1186',
       '1210', '100', '3825', '1100.00 mosl', '1450 masl', '1680m',
       '~1000 meters', '1200-1500', '1.85', '4540 metros', '50', '280',
       '1250 m', '3800', '4000 p.s.n.m.', '6100 metros', '600å…¬å°º', '1450m',
       '995', '3000 ft', '4287', '900 m.s.n.m.', '700 m', '808',
       '1100 - 1275 mts', '850å…¬å°º', '250 m', '3845', '1300 to 1500 meters',
       '1901.64', '800-1200', '500-700m', '1022', '975', '1264',
       '3500 - 5200 feet', '700må…¬å°º', '850', '12oo', '800m', '1600 meters',
       '4000 p.s.n.m', '1200 meters', '750-800 m', '900-1500 masl',
       '3500', '1000+ meters', '1280', '1140', '640m-1400m',
       '1000 meters', '~350m', '1488', '3170', '1212', '1200-1300',
       "3000'", '750m', '3140', '900-1300', '1095', '1367', '1745', '40',
       '795 meters'], dtype=object)