# FIT5202 2024 S2 Assignment 1 : Analysing Fraudulent Transaction Data

## Table of Contents
* [Part 1 : Working with RDD](#part-1)  
    - [1.1 Data Preparation and Loading](#1.1)  
    - [1.2 Data Partitioning in RDD](#1.2)  
    - [1.3 Query/Analysis](#1.3)  
* [Part 2 : Working with DataFrames](#2-dataframes)  
    - [2.1 Data Preparation and Loading](#2-dataframes)  
    - [2.2 Query/Analysis](#2.2)  
* [Part 3 :  RDDs vs DataFrame vs Spark SQL](#part-3)

# Part 1 : Working with RDDs (30%) <a class="anchor" name="part-1"></a>
## 1.1 Working with RDD
In this section, you will need to create RDDs from the given datasets, perform partitioning in these RDDs and use various RDD operations to answer the queries. 

1.1.1 Data Preparation and Loading <a class="anchor" name="1.1"></a>
Write the code to create a SparkContext object using SparkSession. To create a SparkSession you first need to build a SparkConf object that contains information about your application, use Melbourne time as the session timezone. Give an appropriate name for your application and run Spark locally with 4 cores on your machine.

In [33]:
sc.stop()

In [1]:
from pyspark import SparkConf
# Specify the master and application name
master = "local[4]"  
app_name = "FIT5202 A1"
spark_conf = SparkConf().setMaster(master).setAppName(app_name)

# Import SparkContext and SparkSession classes
from pyspark import SparkContext # Spark
from pyspark.sql import SparkSession # Spark SQL
spark = SparkSession.builder.config(conf=spark_conf).getOrCreate()
spark.sql("SET TIME ZONE 'Australia/Melbourne'")
sc = spark.sparkContext
sc.setLogLevel('ERROR')

1.1.2 Load csv files into multiple RDDs.

In [ ]:
val rdd_all

In [3]:
category_rdd  = sc.textFile('category.csv')
customers_rdd = sc.textFile('customers.csv')
geolocation_rdd = sc.textFile('geolocation.csv')
merchant_rdd = sc.textFile('merchant.csv')
transactions_rdd = sc.textFile('transactions.csv')

1.1.3 For each RDD, remove the header rows and display the total count and first 10 records. (Hint: You can use csv.reader to parse rows into RDDs.)

In [36]:
from pyspark.rdd import RDD
def remove_header(rdd):
    rdd = rdd.map(lambda line: line.split(','))
    header = rdd.first()
    rdd = rdd.filter(lambda row: row!=header)
    return rdd
    
category_rdd = remove_header(category_rdd)
customers_rdd = remove_header(customers_rdd)
geolocation_rdd = remove_header(geolocation_rdd)
merchant_rdd = remove_header(merchant_rdd)
transactions_rdd = remove_header(transactions_rdd)

In [58]:
category_rdd.take(10)

[['Entertainment', '1'],
 ['Food_Dining', '2'],
 ['Gas_Transport', '3'],
 ['Grocery(Online)', '4'],
 ['Grocery(In Store)', '5'],
 ['Health_Fitness', '6'],
 ['Home', '7'],
 ['Pets', '8'],
 ['Misc(Online)\\', '9'],
 ['Misc(In Store)', '10']]

In [59]:
customers_rdd.take(10)

[['"263-99-6044"',
  '"4241904966319315"',
  'Melissa',
  'Turner',
  'F',
  '"058 Stanley Cliff"',
  'Risk manager',
  '"2005-05-30"',
  '376443331852',
  '6339'],
 ['"292-61-7844"',
  '"30520471167198"',
  'Mark',
  'Brown',
  'M',
  '"413 Angela Mall"',
  'Trading standards officer',
  '"2003-04-19"',
  '870143739098',
  '6200'],
 ['"491-28-3311"',
  '"180084219933088"',
  'Courtney',
  'Hall',
  'F',
  '"5712 Tamara Estate"',
  'Optometrist',
  '"2002-04-17"',
  '965855026307',
  '3547'],
 ['"826-23-1754"',
  '"2623398454615676"',
  'Krystal',
  'Branch',
  'F',
  '"1016 Bennett Mountains"',
  'Banker',
  '"2001-07-15"',
  '11324746755',
  '6302'],
 ['"172-11-9264"',
  '"639034043849"',
  'Carol',
  'Ellis',
  'F',
  '"819 Joseph Plains Suite 807"',
  'Sports coach',
  '"2003-11-21"',
  '113495175185',
  '5227'],
 ['"150-95-7922"',
  '"343731453038560"',
  'Julie',
  'Gibson',
  'F',
  '"51844 Nicholas Lane"',
  'Medical secretary',
  '"2006-03-06"',
  '719783599768',
  '4047'],
 ['"841-99-2980"',
  '"3525799136621031"',
  'Joseph',
  'Blankenship',
  'M',
  '"91279 Natalie Place Apt. 172"',
  'Toxicologist',
  '"2005-07-01"',
  '908554315130',
  '6271'],
 ['"705-41-6699"',
  '"342694486959460"',
  'Nicole',
  'Gutierrez',
  'F',
  '"58874 Lane Trail Suite 213"',
  'Product manager',
  '"2003-01-23"',
  '772162574642',
  '6302'],
 ['"016-22-4524"',
  '"3563009792513271"',
  'Anna',
  'Montgomery',
  'F',
  '"52812 Hall Point"',
  '"Loss adjuster',
  ' chartered"',
  '"2001-08-26"',
  '982712248618',
  '5614'],
 ['"639-46-2126"',
  '"3587729343010715"',
  'Nancy',
  'Clark',
  'F',
  '"0558 Alex Flats Suite 414"',
  'Hydrologist',
  '"2005-02-10"',
  '603471636817',
  '6328']]

In [60]:
geolocation_rdd.take(10)

[['Burkeville', 'TX', '75932', '31.0099', '-93.6585', '1', '1437'],
 ['Fresno', 'TX', '77545', '29.5293', '-95.4626', '2', '19431'],
 ['Osseo', 'MN', '55311', '45.1243', '-93.4996', '3', '65312'],
 ['Pomona', 'CA', '91766', '34.0418', '-117.7569', '4', '154204'],
 ['Vacaville', 'CA', '95688', '38.3847', '-121.9887', '5', '99475'],
 ['South Lake Tahoe', 'CA', '96150', '38.917', '-119.9865', '6', '29800'],
 ['Belvidere', 'TN', '37306', '35.1415', '-86.1728', '7', '2760'],
 ['Columbia', 'SC', '29205', '33.9903', '-80.9997', '8', '333497'],
 ['Chicago', 'IL', '60660', '41.9909', '-87.6629', '9', '2680484'],
 ['Tunnelton', 'WV', '26444', '39.3625', '-79.7478', '10', '3639']]

In [61]:
merchant_rdd.take(10)

[['Bins-Tillman', '6051', '1'],
 ['"Hahn', ' Douglas and Schowalter"', '1276', '2'],
 ['"Hayes', ' Marquardt and Dibbert"', '1383', '3'],
 ['"Mueller', ' Gerhold and Mueller"', '1846', '4'],
 ['Kerluke Inc', '1784', '5'],
 ['Waelchi Inc', '4637', '6'],
 ['Trantow PLC', '2176', '7'],
 ['Runolfsson and Sons', '3968', '8'],
 ['Bechtelar-Rippin', '1048', '9'],
 ['"Schumm', ' Bauch and Ondricka"', '1553', '10']]

In [62]:
transactions_rdd.take(10)

[['"0c20530e90719213c442744161a1850b"',
  '1622367050',
  '87.18',
  '0',
  '"794-45-4364"',
  '46',
  '2641132',
  '12'],
 ['"984fc48fc946605deefc9d0967582811"',
  '1609183538',
  '276.97',
  '0',
  '"436-80-2340"',
  '60',
  '2932280',
  '5'],
 ['b13ff47c73689bc4c8320c0ce403b15d',
  '1655595319',
  '7.67',
  '0',
  '"385-77-6544"',
  '87',
  '2708770',
  '2'],
 ['"7cffae35cab67d9415f9f22d91ca7acc"',
  '1613234460',
  '198.96',
  '0',
  '"450-56-1117"',
  '138',
  '1170872',
  '10'],
 ['"22e01cb3403a4c7ce598ebe785e1e947"',
  '1605030979',
  '33.46',
  '0',
  '"397-54-0253"',
  '218',
  '2470519',
  '5'],
 ['"1d174d018228efcd1d5800f768628904"',
  '1608989049',
  '2.74',
  '0',
  '"248-09-7729"',
  '222',
  '3436926',
  '9'],
 ['"532536d65907e08d938cb31e3631ddd4"',
  '1650997797',
  '1.23',
  '0',
  '"277-12-7638"',
  '337',
  '3750746',
  '2'],
 ['"32d76f65b7512afbdc99331ee96bc6d7"',
  '1649986601',
  '7.78',
  '0',
  '"615-63-3623"',
  '718',
  '3773961',
  '2'],
 ['c3f29bca602c9e2e9a188567f06d632f',
  '1617032215',
  '218.8',
  '0',
  '"877-16-8226"',
  '747',
  '2377216',
  '10'],
 ['c56ef2e4a43d867128839b97bc1dbb66',
  '1609250028',
  '62.1',
  '0',
  '"823-85-5801"',
  '950',
  '652447',
  '5']]

1.1.4 Drop personal information columns from RDDs: cc_num, firstname, lastname, address.

In [23]:
def drop_columns(rdd):
    if ['cc_num', 'firstname', 'lastname', 'address'] in rdd:
        rdd = rdd.drop('cc_num', 'firstname', 'lastname', 'address')
        return rdd
    else:
        None

[['Entertainment', '1'],
 ['Food_Dining', '2'],
 ['Gas_Transport', '3'],
 ['Grocery(Online)', '4'],
 ['Grocery(In Store)', '5'],
 ['Health_Fitness', '6'],
 ['Home', '7'],
 ['Pets', '8'],
 ['Misc(Online)\\', '9'],
 ['Misc(In Store)', '10']]

### 1.2 Data Partitioning in RDD <a class="anchor" name="1.2"></a>
1.2.1 For each RDD, print out the total number of partitions and the number of records in each partition.

1.2.2 Answer the following questions:   
a) How many partitions do the above RDDs have?   
b) How is the data in these RDDs partitioned by default, when we do not explicitly specify any partitioning strategy? Can you explain why it is partitioned in this number?   
c) Assuming we are querying the dataset based on transaction date, can you think of a better strategy to partition the data based on your available hardware resources?

Your answer for a

Your answer for b

Your answer for c

1.2.3 Create a user defined function (UDF) to transform trans_timestamp to ISO format(YYYY-MM-DD hh:mm:ss), then call the UDF and add a new column trans_datetime.

### 1.3 Query/Analysis <a class="anchor" name="1.3"></a>
For this part, write relevant RDD operations to answer the following queries.

1.3.1 Calculate the summary of fraudulent transactions amount for each year, each month. Print the results in tabular format.

1.3.2 List 20 mechants that suffered the most from fraudulent activities(i.e. 20 highest amount of monetary loss).

## Part 2. Working with DataFrames (45%) <a class="anchor" name="2-dataframes"></a>
In this section, you need to load the given datasets into PySpark DataFrames and use DataFrame functions to answer the queries.
### 2.1 Data Preparation and Loading

2.1.1. Load the CSV files into separate dataframes. When you create your dataframes, please refer to the metadata file and think about the appropriate data type for each column.

In [65]:
df_category = spark.read.format('csv')\
            .option('header',True).option('escape','"')\
            .load('category.csv')

df_customers = spark.read.format('csv')\
            .option('header',True).option('esacpe','"')\
            .load('customers.csv')

df_geolocation = spark.read.format('csv')\
            .option('header',True).option('esacpe','"')\
            .load('geolocation.csv')

df_merchant = spark.read.format('csv')\
            .option('header',True).option('esacpe','"')\
            .load('merchant.csv')

df_transactions = spark.read.format('csv')\
            .option('header',True).option('esacpe','"')\
            .load('transactions.csv')

df_category.createOrReplaceTempView("sql_category")
df_customers.createOrReplaceTempView("sql_customers")
df_geolocation.createOrReplaceTempView("sql_geolocation")
df_merchant.createOrReplaceTempView("sql_merchant")
df_transactions.createOrReplaceTempView("sql_transactions")

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 41278)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.10/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.10/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.10/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.10/socketserver.py", line 747, in __init__
    self.handle()
  File "/opt/conda/lib/python3.10/site-packages/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/opt/conda/lib/python3.10/site-packages/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
  File "/opt/conda/lib/python3.10/site-packages/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
  File "/opt/conda/lib/python3.10/site-packages/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

2.1.2 Display the schema of the dataframes.

In [64]:

df_category.printSchema()
df_customers.printSchema()
df_geolocation.printSchema()
df_merchant.printSchema()
df_transactions.printSchema()

root
 |-- category: string (nullable = true)
 |-- id_category: string (nullable = true)

root
 |-- id_customer: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- acct_num: string (nullable = true)
 |-- id_geolocation: string (nullable = true)

root
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- id_geolocation: string (nullable = true)
 |-- population: string (nullable = true)

root
 |-- merchant: string (nullable = true)
 |-- id_geolocation: string (nullable = true)
 |-- id_merchant: string (nullable = true)

root
 |-- id_transaction: string (nullable = true)
 |-- trans_timestamp: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- id_customer: string (nullable = true)
 |-- id_geolocation: string (nullable = true)
 |-- id_merchant: string (nullable = true)
 |-- id_category: string (nullable = true)

Think about: When the dataset is large, do you need all columns? How to optimize memory usage? Do you need a customized data partitioning strategy? (note: You don’t need to answer these questions.)

### 2.2 QueryAnalysis  <a class="anchor" name="2.2"></a>
Implement the following queries using dataframes. You need to be able to perform operations like filtering, sorting, joining and group by using the functions provided by the DataFrame API.   

2.2.1. Transform the “trans_timestamp” to multiple columns: trans_year, trans_month, trans_day, trans_hour(24-hour format). (note: you can reuse your UDF from part 1 or create a new one.)

2.2.2. Calculate the total amount of fraudulent transactions for each hour. Show the result in a table and plot a bar chart.

2.2.3 Print number of small transactions(<=$100) from female who was born after 1990.

2.2.4 We consider a fraud-to-sales(F2S) ratio of 3% as a benchmark. If a merchant has F2S >= 3%, it is considered operating at very high rick. How many companies are operating at very high risk? (note: The answer should be a single number.)

2.2.5 “Abbott and Adam Group” wants to know their total revenue(sum of non-fraud amt) in each state they operate, show the top 20 results by revenue in descending order. You output should include merchant name, state and total revenue. (note: Abbott and Adam group include all merchants who name start with “Abbott” or “Adam”.)

2.2.6 For each year (2020-2022), aggregate the number(count) of fraudulent transactions every hour. Plot an appropriate figure and observe the trend. Write your observations from your plot (e.g. Is fraudulent activities increasing or decreasing? Are those frauds more active after midnight or during business hours?).

### Part 3 RDDs vs DataFrame vs Spark SQL (25%) <a class="anchor" name="part-3"></a>
Implement the following queries using RDDs, DataFrame in SparkSQL separately. Log the  time taken for each query in each approach using the “%%time” built-in magic command in Jupyter Notebook and discuss the performance difference between these 3 approaches.

#### Query: <strong>We consider city with population < 50K as small(denoted as S); 50K-200K as medium(M), >200K as large(L). For each city type, using customer age bucket of 10(e.g. 0-9, 10-19, 20-29…), show the percentage ratio of fraudulent transactions in each age bucket.</strong>

#### 3.1. RDD Implementation

#### 3.2. DataFrame Implementation

#### 3.3. Spark SQL Implementation

### 3.4 Which one is the easiest to implement in your opinion? Log the time taken for each query, and observe the query execution time, among RDD, DataFrame, SparkSQL, which is the fastest and why? Please include proper reference. (Maximum 500 words.)

### Some ideas on the comparison

Armbrust, M., Huai, Y., Liang, C., Xin, R., & Zaharia, M. (2015). Deep Dive into Spark SQL’s Catalyst Optimizer. Retrieved September 30, 2017, from https://databricks.com/blog/2015/04/13/deep-dive-into-spark-sqls-catalyst-optimizer.html

Damji, J. (2016). A Tale of Three Apache Spark APIs: RDDs, DataFrames, and Datasets. Retrieved September 28, 2017, from https://databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html

Data Flair (2017a). Apache Spark RDD vs DataFrame vs DataSet. Retrieved September 28, 2017, from http://data-flair.training/blogs/apache-spark-rdd-vs-dataframe-vs-dataset

Prakash, C. (2016). Apache Spark: RDD vs Dataframe vs Dataset. Retrieved September 28, 2017, from http://why-not-learn-something.blogspot.com.au/2016/07/apache-spark-rdd-vs-dataframe-vs-dataset.html

Xin, R., & Rosen, J. (2015). Project Tungsten: Bringing Apache Spark Closer to Bare Metal. Retrieved September 30, 2017, from https://databricks.com/blog/2015/04/28/project-tungsten-bringing-spark-closer-to-bare-metal.html